
@media  only screen and (min-width: 768px){
   
/*TOP TO BOTTOM*/
    
body{background-color:blueviolet;}
h1{
        text-align: center;
    }
    .container ul{
        text-align: center;
        
    }

.container1{
        border:none;
        background-color: transparent ;   
        display:inline-block;
        
}
.container2{
    border:none;
    background-color: transparent ;
    display:inline-block;
    
}
.container3{
    border:none;
    background-color: transparent ;
    display:inline-block;
   
}



.clearfix{
    display: inline-block;
    
}
#Profileimg{
    float: right;
  
    
 }
.introstart{
   margin-top: 0;
   
}
.ulcentro{
    column-count: 2;
    column-gap: 0;
    padding-bottom: 0;
    
  }
 .ulcentro li {
    display: inline-block;
    margin: 4%;
    
  }
  

}



 @media  only screen and (min-width: 1024px){
    body{background-color:pink;}
}
