
@media  only screen and (min-width: 768px){
   
/*TOP TO BOTTOM*/
    
body{background-color:blueviolet;}
h1{
        text-align: center;
    }
    .container ul{ 
        text-align: center;
        
    }

.container1{
        border:none;
        background-color: transparent ;   
        display:inline-block;
        
}
.container2{
    border:none;
    background-color: transparent ;
    display:inline-block;
    
}
.container3{
    border:none;
    background-color: transparent ;
    display:inline-block;
   
}



.clearfix{
    display: inline-block;
    
}
#Profileimg{
    float: right;
  
    
 }
.introstart{
   margin-top: 0;
   
}
.ulcentro{
    font-size: 60%;

   column-count: 2;
   -webkit-column-width: 100%;
   -moz-column-width: 100%;
        column-width: 100%;
        padding: 5%;
        margin: 0;
  }
 .ulcentro li {
    
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
         break-inside: avoid;
         column-fill: balance;
         
   
  }
  .downdownright li:nth-child(4){
        display: none;
        }
  
#textbox .downdownright{
   
    column-count: 3;
    
}
    
}





 @media  only screen and (min-width: 1024px){
    body{background-color:pink;}
    .ulcentro{
        font-size: 83%;

        column-count: 3;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
             column-width: 100%;
             padding: 5%;
             margin: 0;
       }
      .ulcentro li {
         
         -webkit-column-break-inside: avoid;
         page-break-inside: avoid;
              break-inside: avoid;
              column-fill: balance;
        
       }

}


