
@media  only screen and (min-width: 768px){
   
/*TOP TO BOTTOM*/
    
body{background-color:blueviolet;}
h1{
        text-align: center;
    }
    .container ul{ 
        text-align: center;
        
    }

.container1{
        border:none;
        background-color: transparent ;   
        display:inline-block;
        
}
.container2{
    border:none;
    background-color: transparent ;
    display:inline-block;
    
}
.container3{
    border:none;
    background-color: transparent ;
    display:inline-block;
   
}



.clearfix{
    display: inline-block;
    
}
#Profileimg{
    float: right;
  
    
 }
.introstart{
   margin-top: 0;
   
}
.ulcentro{
    
   column-count: 2;
   -webkit-column-width: 150px;
   -moz-column-width: 150px;
        column-width: 150px;
  }
 .ulcentro li {
    
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
         break-inside: avoid;
         column-fill: balance;
   
  }
  

}



 @media  only screen and (min-width: 1024px){
    body{background-color:pink;}

    .ulcentro{
    
        column-count: 3;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
             column-width: 100%;
       }
      .ulcentro li {
         
         -webkit-column-break-inside: avoid;
         page-break-inside: avoid;
              break-inside: avoid;
              column-fill: balance;
        
       }
}
