/******************
******************
Unviesal
*/
*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow: auto;
    text-align: center ;
    background-color:grey; 
}
#centro{
    background-color:blue; 
}

img {
    max-width: 100%;
    height: auto;
    position: center;
    width: 45em;
} 




@media(min-width 768px){
    .body{
        margin: auto      
        width: 40%;
    }
.container{
    
        float:center;
   }

}